body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;      /* 垂直居中 */

}

.title{
    color: cornflowerblue;
    font-size: 35px;
}

.game {
    display: flex;
    flex-direction: row;

}

.game-info {
    margin-left: 50px;
    font-weight: bold;
    color: darkblue;
    font-size: 25px;
    text-align: center;

}

.btn-history {
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-color:dodgerblue;
    background-color: dodgerblue;
    border-radius: 12px;
    margin-bottom: 8px;

}

.btn-history:hover {background-color: lightskyblue}

.btn-history:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}