body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

.title{
    display: flex;
    color: cornflowerblue;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
