.square {
    background: #fff;
    border: 3px solid ;
    border-color: darkblue;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
    margin-right: -1px;
    margin-left: -1px;
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;
}